#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: blueviolet;
  background-image: linear-gradient(to bottom right, rgb(123, 68, 175), Tomato);
}
.button {
  background-color: whitesmoke; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button:active {
  background-color: cornflowerblue;
}
strong {
  text-decoration-line: underline;
  color: rgb(11, 3, 51);
}
strong:hover {
  color: rgb(69, 54, 143);
}
p {
  font-weight: bold;
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
